__pycache__/
*.pyc

*.joblib
# ignore most pickle files
*.pkl
.env
# but keep production models
!models/
!models/keywords-count-vectorizer.pkl
!models/keywords-feature-names.pkl
!models/keywords-tfidf-model.pkl
*.db
!database/feedback.db
data/Raw/
notebooks/

customer_feedback_report.pdf

.vscode/
.idea/
.venv/
env/
.env
*.env

*.sqlite3
*.zip
